html, body, #root {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f5f5f5;
}

.drag-n-drop {
    display: flex;
    justify-content: center;
    height: 100%;
}

// .swal-pp {
//     background-color: green;
// }


.column-title {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.5em;
    color:white;
    margin-bottom: 0;
}
.draggable-div {
    position: relative;
}
.delete-btn {
    font-family: 'Gloria Hallelujah', cursive;
    position: absolute;
    bottom: -4px;
    right: 8px;
    background-color: rgba(211, 211, 211, 1);
    border: 1px solid darkgrey;
    border-radius: 3px
    

}