.form-container {
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    form {
        input, select {
            margin-bottom: 15px;
        }
        button {
            align-self: center;
        }
    }
}