

.form-container {
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .task-set-buttons {
        display: flex;
        .task-summary {
            width: 100%;
            color: white;
            text-align: center;
            line-height: 30px;
            background-color: rgba(66, 112, 220, 0.8);
        }
        .task-summary-left {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        .task-summary-right {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}