.task-info {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: aqua;
    // background: url("/assets/notes.png") no-repeat center/contain;
    width: 400px;
    height: 550px;
    position: absolute;
    z-index: 5;
    top: 15vh;
    right: 10vw;
}