@import "config/basic-reset";
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import "components/drag-n-drop"; 
@import "components/form"; 

html, body, #root {
    height: 100%;
}

body {
    margin: 0 auto;
    background-color: rgba(211, 211, 211, 0.5);
    background: linear-gradient(191deg, rgba(189, 188, 189, 0.69) 0%, rgba(66, 112, 220, 1) 100%), url("/assets/body_illustration.jpg") no-repeat center/cover;
    font-family: 'Roboto','Segoe UI', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


.active {
    color: pink;
    color: rgba(0, 0, 0, 0.397);
}

::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
}

::-webkit-scrollbar-track {
    // background: #f1f1f180;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.493);
    border-radius: 10px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:rgba(0, 0, 0, 0.3);
}